.tags{

    & .panel-tags{
        width: 100%;
        background-color: #e5e5e5;
        padding: 5px; 
        margin-bottom: 5px;
    }

    & .btn-new-tag{
        font-size: 11px;
        margin-left: 5px;
    }

    & .panel-select-tags{
        padding-top: 4px;
        padding-bottom: 6px;
    }

    & .cont-form-new{
        font-size: 11px;
    }

    & .custom-tag{
        margin:3px;
    }

    & datalist { 
        width: 100%;
        display: none;
    }


}

